<h1>Edit Drink <h1>
<h3><%= @error %> <h3>
<h1> <%= @drink.name %> <h1>

<form action="/drinks/<%= @drink.id %>" method="post">
<input type="hidden" name="_method" value="patch">

<label>Name:</label><br></br>
<input type = "text"  name="drink[name]" value="<%= @drink.name %>">
<br>
<br>
<label>Instructions:</label>
<br>
<br>
<textarea = "text"  name="drink[instructions]"><%= @drink.instructions %> </textarea>
 <br>
 <br>
 <label>Image URL:</label>
 <br>
 
 <p><input type = "text"  name="drink[pic]" value="<%= @drink.pic %>"><p>
 <br>
 
 <input type="submit" value="Update Cocktail"style="width:110px;height:40px;">
</form>